@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-size: medium;
  font-style: normal;
}

.font-logo {
  font-family: "Playwrite GB S", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

.over-ride-img {
  object-fit: contain !important;
}

.box-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 100%;
  min-height: 170px;
  padding: 1rem 1.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .box-cart {
    flex-direction: row;
  }
}

.box-cart > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .box-cart > *:not(:last-child) {
    margin-bottom: 0;
  }
}

.icon-visible {
  position: absolute;
  top: -15px;
  right: -10px;
}
